.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: lightblue;
  padding: 20px;
}

.box {
  background-color: #f1f1f1;
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}